.DS_Store
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.bak
*.exe

# Knitr intermediate files
/Summaries/map_trees_files
*.aux
*.knit.md


# RevBayes output files
RevBayes/history.txt
*.ckp
*_run_*.log
*_run_*.trees
